.cart {
  padding-top: 12rem;
  text-align: center;
}

.home-link {
  font-size: 5rem;
}

.cart-items {
  padding-top: 5rem;
}

.cartt {
  font-size: 0;
}

.cart img {
  width: 100%;
}
