.header {
  background-color: whitesmoke;
  width: 100vw;
  padding: 1.5rem;
  position: fixed;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header input {
  font-size: 3rem;
  width: 75%;
}

.cart-button {
  padding: 2rem;
}
