.items {
  display: grid;
  padding: 10rem 5rem 5rem;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 3rem;
}

.items .img-container {
  margin: auto;
}

.item {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-image {
  /* height: 100%; */
  height: 200px;
  /* max-width: 50%; */
  aspect-ratio: 1/1;
}

.add-button {
  padding: 1rem;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
